.body_1 {
  background-image: url('http://designmodo.com/wp-content/uploads/2012/10/09.jpg');
  border: 3px solid black;
  border-radius: 10px; }
  .body_1 header {
    height: 110px;
    text-align: center;
    border-bottom: 2px solid #777;
    width: 100%; }
    .body_1 header h1 {
      text-align: center;
      padding-top: 20px;
      font-family: garamond;
      font-weight: bold; }
    .body_1 header .main_nav {
      list-style-type: none;
      display: inline-block; }
      .body_1 header .main_nav li {
        border: 2px solid black;
        border-radius: 10px;
        padding: 7px 12px;
        background-color: white;
        font-weight: bold;
        font-family: garamond;
        margin-right: 50px;
        float: left; }
      .body_1 header .main_nav a:hover {
        color: blue; }
      .body_1 header .main_nav a {
        text-decoration: none;
        color: black; }
  .body_1 .content .p_content {
    font-family: garamond;
    text-align: center;
    margin: 45px 229px; }
  .body_1 .content .picture_container {
    margin: 40px 312px; }
    .body_1 .content .picture_container .picture {
      display: inline-block; }
      .body_1 .content .picture_container .picture img {
        border-radius: 100%; }
  .body_1 footer {
    border-top: 2px solid #777;
    height: 110px;
    text-align: center;
    border-bottom: 2px solid #777; }
    .body_1 footer .main_nav {
      margin-top: 0px;
      padding-top: 15px;
      list-style-type: none; }
      .body_1 footer .main_nav li {
        display: inline-block;
        border: 2px solid black;
        border-radius: 10px;
        padding: 7px 12px;
        background-color: white;
        font-weight: bold;
        font-family: garamond;
        margin-right: 50px; }
      .body_1 footer .main_nav a:hover {
        color: blue; }
      .body_1 footer .main_nav a {
        text-decoration: none;
        color: black; }

@media all and (max-width: 320px) {
  .body_1 header nav .main_nav {
    margin-left: -45px; }
    .body_1 header nav .main_nav li {
      margin-right: 0px; }
  .body_1 .content .p_content {
    margin: 122px 0px 0px 0px;
    display: block; }
  .body_1 .content .picture_container {
    margin: 20px 42px; }
  .body_1 footer .main_nav {
    margin-left: -45px; }
    .body_1 footer .main_nav li {
      margin-right: 0px; } }

@media all and (max-width: 640px) and (min-width: 322px) {
  .body_1 header nav .main_nav {
    display: inline-block;
    width: 100%; }
  .body_1 .content .p_content {
    margin: 129px 148px 0px 20px; }
  .body_1 .content .picture_container {
    margin: 40px 100px; }
    .body_1 .content .picture_container .picture {
      display: inline-block; }
  .body_1 footer .main_nav {
    display: inline-block; }
    .body_1 footer .main_nav li {
      margin-right: 30px; } }
